:root {
    --cell-appear-time: 200ms;
    --button-animation-time: 100ms;
    --beige-color: rgb(235, 223, 192);
    --text-background-color: rgba(245, 245, 245, 0.5);
    --standard-border-radius: 10px;
    --mobile-border-radius: 1.5vh;
    --standard-side-padding-full: 30%;
    --standard-side-padding-half: 15%;
    --standard-side-padding-third: 10%;
    --button-height-mobile: 5vh;
    --button-height-desktop: 60px;
    --button-font-size: 2vh;
    --h1-mobile-font-size: 4vh;
    --h2-mobile-font-size: 2.5vh;
}

body {
    margin: 0;
    min-height: 100svh;
    min-height: 100vh;
    background-position: center;
    background-image: url("../assets/tloNalesnikart.jpg");
}

.grid {
    display: grid;
    min-height: 100vh;
}

h1 {
    grid-row: 1 / 2;
    text-align: center;
    transition-property: opacity;
    transition-duration: var(--cell-appear-time);
    opacity: 0;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.35em;
    background-color: var(--text-background-color);
}

.leftCell {
    grid-row: 2 / 4;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    transition-property: opacity;
    transition-duration: var(--cell-appear-time);
    opacity: 0;
}

.rightCell {
    transition-property: opacity;
    transition-duration: var(--cell-appear-time);
    opacity: 0;
}

button {
    display: block;
    color: var(--beige-color);
    background-color: black;
    border-color: #00000000;
    width: 100%;
    font-size: var(--button-font-size);
    transition-property: background-color, color, border-color, border-style, border-width;
    transition-duration: var(--button-animation-time);
}

@media only screen and (max-aspect-ratio: 1 / 1) {

    .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 0.3fr 1.2fr 1.2fr 0.3fr;
    }

    h1 {
        font-size: var(--h1-mobile-font-size);
    }

    h2 {
        font-size: var(--h2-mobile-font-size);
        border-radius: var(--mobile-border-radius);
    }

    .leftCell {
        padding-left: var(--standard-side-padding-third);
        padding-right: var(--standard-side-padding-third);
    }

    .rightCell {
        grid-row: 4 / 5;
        padding-right: var(--standard-side-padding-third);
        padding-left: var(--standard-side-padding-third);
    }

    .imageParent {
        display: none;
    }

    button {
        border-radius: var(--mobile-border-radius);
        height: var(--button-height-mobile);
    }

}

@media only screen and (min-aspect-ratio: 1001 / 1000) {

    .grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.4fr 1.1fr 1.1fr 0.4fr;
    }

    h1 {
        grid-column: 1 / 4;
    }

    h2 {
        border-radius: var(--standard-border-radius);
    }

    .leftCell {
        grid-column: 1 / 3;
        padding-left: var(--standard-side-padding-half);
        padding-right: 5%;
    }

    .rightCell {
        grid-column: 3 / 4;
        grid-row: 2 / 4;
        padding-right: var(--standard-side-padding-full);
        display: grid;
        grid-template-rows: 1.8fr 0.2fr;
    }

    .imageParent {
        position: relative;
    }

    .imageParent img {
        position: absolute;
        width: 100%;
        max-height: 100%;
        top: 50%;
        transform: translateY(-50%);
    }

    button {
        border-radius: var(--standard-border-radius);
        height: var(--button-height-desktop);
    }

    button:hover {
        background-color: #00000000;
        border-color: black;
        border-style: solid;
        border-width: 1px;
        color: black;
    }

    .buttonRight {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

}
