body {
    margin: 0;
    min-height: 100vh;
    background-position: center;
    background-image: url("../assets/tloNalesnikartDark.jpg");
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.4fr 1.1fr 1.1fr 0.4fr;
    min-height: 100vh;
}

h1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    text-align: center;
    color: rgb(235, 223, 192);
    transition: 200ms;
    opacity: 0.0;
}

h2 {
    width: 95%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 10px;
}

.leftCell {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    padding-left: 15%;
    display: flex;
    align-items: center;
    transition: 200ms;
    opacity: 0.0;
}

.rightCell {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    padding-right: 30%;
    display: grid;
    grid-template-rows: 1.8fr 0.2fr;
    transition: 200ms;
    opacity: 0.0;
}

button {
    display: block;
    color: black;
    background-color: rgb(235, 223, 192);
    border-color: #00000000;
    height: 60px;
    width: 100%;
    border-radius: 10px;
    transition: 100ms;
}

button:hover {
    background-color: #00000000;
    border-color: rgb(235, 223, 192);
    border-style: solid;
    border-width: 1px;
    color: rgb(235, 223, 192);
}

.buttonRight {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

canvas {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}