body {
    margin: 0;
    min-height: 100vh;
    min-height: 100svh;
    background-position: center;
    background-image: url("../assets/tloNalesnikart.jpg");
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.4fr 1.1fr 1.1fr 0.4fr;
    min-height: 100vh;
    background-position: center;
    /*background-image: url("../assets/tloNalesnikart.jpg");*/
    /*transition: 300ms;*/
}

.leftCell {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    padding-left: 30%;
    transition: 200ms;
    opacity: 0;
}

.middleCell {
    grid-column: 2 / 3;
    grid-row: 2 / 5;
    position: relative;
    transition: 200ms;
    opacity: 0;
}

.rightCell {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    padding-right: 30%;
    display: grid;
    grid-template-rows: 1.4fr 0.4fr 0.2fr;
    transition: 200ms;
    opacity: 0;
}

h1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    text-align: center;
    transition: 200ms;
    opacity: 0;
}

h2 {
    width: 100%;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 10px;
}

.middleCell img {
    position: absolute;
    width: 100%;
    max-height: 100%;
    top: 50%;
    transform: translateY(-50%);
}

button {
    display: block;
    color: rgb(235, 223, 192);
    background-color: black;
    border-color: #00000000;
    height: 60px;
    width: 100%;
    border-radius: 10px;
    transition: 100ms;
}

button:hover {
    background-color: #00000000;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    color: black;
}

.buttonLeft {
    margin-bottom: 3%;
}

.descriptionRight {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.buttonRight {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
