:root {
    --one-step-of-image-animation-time: 300ms;
    --cell-appear-time: 200ms;
    --blur-time: 400ms;
    --button-animation-time: 100ms;
    --beige-color: rgb(235, 223, 192);
    --text-background-color: rgba(245, 245, 245, 0.5);
    --standard-border-radius: 10px;
    --mobile-border-radius: 1.5vh;
    --standard-side-padding-full: 30%;
    --standard-side-padding-half: 15%;
    --standard-side-padding-third: 10%;
    --button-height-mobile: 5vh;
    --button-height-desktop: 60px;
    --picture-cell-width: 30%;
}

body {
    margin: 0;
    min-height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-image: url("../assets/tloNalesnikart.jpg");
}

.grid {
    display: grid;
    min-height: 100vh;
}

h1 {
    text-align: center;
    opacity: 0;
}

.leftCell {
    opacity: 0;
}

.rightCell {
    opacity: 0;
}

.pictureCell {
    border-color: black;
    border-style: solid;
    text-align: center;
    font-size: 20px;
    background-position: center;
    background-size: cover;
}

button {
    display: block;
    border-color: #00000000;
    color: rgb(235, 223, 192);
    background-color: black;
    transition-property: background-color, color, border-color, border-style, border-width;
    transition-duration: var(--button-animation-time);
}

@media only screen and (max-aspect-ratio: 1 / 1) {

    span {
        display: none;
    }

    #swipeDescription {
        display: none;
    }

    .cellDescription {
        display: none;
    }

    h1 {
        font-size: 4vh;
        position: fixed;
        width: calc(80% + 2px);
        margin-left: var(--standard-side-padding-third);
        transition-property: opacity;
        transition-duration: var(--cell-appear-time);
        background-color: var(--text-background-color);
        border-radius: var(--mobile-border-radius);
    }

    button {
        font-size: 2.5vh;
        border-radius: var(--mobile-border-radius);
        height: var(--button-height-mobile);
        width: calc(100% + 2px);
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .rightCell {
        position: fixed;
        bottom: 4.5%;
        width: 80%;
        padding-left: var(--standard-side-padding-third);
    }

    .pictureContainer {
        padding-top: 20%;
        padding-bottom: 20%;
    }

    .pictureCell {
        width: 80% !important;
        padding-top: 80% !important;
        margin-left: 10% !important;
        margin-bottom: 2% !important;
        border-width: 1px !important;
        border-radius: var(--mobile-border-radius);
        transition-property: opacity;
        transition-duration: 1000ms;
    }

    .grid1 {
        display: none;
    }

    .arrows {
        display: none;
    }

    #rowIndicatorContainer {
        display: none;
    }

}

@media only screen and (min-aspect-ratio: 1001 / 1000) {

    span {
        padding-left: var(--standard-side-padding-third);
        padding-right: var(--standard-side-padding-third);
        transition-property: opacity, padding-left, padding-right;
        transition-duration: var(--one-step-of-image-animation-time);
    }

    #swipeDescription {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin-left: auto;
        margin-right: auto;
        display: inline-flex;
        align-items: center;
        text-align: center;
        font-size: 20px;
        height: var(--button-height-desktop);
        color: var(--beige-color);
    }

    .cellDescription {
        position: absolute;
        font-size: 20px;
        color: #00000000;
        padding-top: calc(50% - 10px);
        text-align: center;
        border-radius: var(--standard-border-radius);
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        transition-property: color, backdrop-filter;
        transition-duration: var(--button-animation-time);
    }

    h1 {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        text-align: center;
        transition-property: opacity, filter;
        transition-duration: var(--cell-appear-time), var(--blur-time);
        opacity: 0;
    }

    button {
        height: var(--button-height-desktop);
        border-radius: var(--standard-border-radius);
        width: 100%;
    }

    .grid {
        position: relative;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.4fr 1.1fr 1.1fr 0.4fr;
        transition-property: opacity;
        transition-duration: var(--one-step-of-image-animation-time);
        z-index: 0;
    }

    .leftCell {
        grid-column: 1 / 3;
        grid-row: 2 / 4;
        padding-left: var(--standard-side-padding-half);
        transition-property: opacity, filter;
        transition-duration: var(--cell-appear-time), var(--blur-time);
    }

    .rightCell {
        grid-column: 3 / 4;
        grid-row: 2 / 4;
        padding-right: var(--standard-side-padding-full);
        display: grid;
        grid-template-rows: var(--button-height-desktop) auto 30% var(--button-height-desktop) 30% auto var(--button-height-desktop);
        transition-property: opacity, filter;
        transition-duration: var(--cell-appear-time), var(--blur-time);
        opacity: 0;
    }

    .pictureContainer {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        min-height: 100%;
    }

    .pictureCell {
        position: relative;
        margin-right: 1%;
        width: var(--picture-cell-width);
        padding-top: 0;
        border-width: 0;
        border-radius: var(--standard-border-radius);
        transition-property: opacity, padding-top, padding-bottom, margin-top, margin-bottom, filter;
        transition-duration: 1000ms, var(--one-step-of-image-animation-time), var(--one-step-of-image-animation-time), var(--one-step-of-image-animation-time), var(--one-step-of-image-animation-time), var(--cell-appear-time);
        opacity: 0;
    }

    .pictureCell:hover {
        background-color: gray;
    }

    .pictureCell:hover .cellDescription {
        backdrop-filter: brightness(20%);
        color: var(--beige-color);
    }

    .pictureRow0 {
        margin-bottom: 0.5%;
        padding-top: var(--picture-cell-width);
        border-width: 1px;
    }

    .pictureRow1 {
        margin-top: 0.5%;
        padding-top: var(--picture-cell-width);
        border-width: 1px;
    }

    .grid1 {
        position: absolute;
        display: none;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.4fr 1.1fr 1.1fr 0.4fr;
        min-height: 100%;
        min-width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        transition-property: opacity;
        transition-duration: var(--blur-time);
        opacity: 0;
        z-index: 1;
    }

    .leftCell1 {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        padding-left: var(--standard-side-padding-full);
        transition-property: opacity;
        transition-duration: var(--cell-appear-time);
        opacity: 0;
    }

    .swipeContainer {
        display: flex;
        align-items: center;
        grid-column: 1 / 4;
        grid-row: 2 / 4;
        transition-property: opacity, filter;
        transition-duration: var(--cell-appear-time), var(--blur-time);
    }

    .rightCell1 {
        grid-column: 3 / 4;
        grid-row: 2 / 4;
        padding-right: var(--standard-side-padding-full);
        display: grid;
        grid-template-rows: var(--button-height-desktop) auto var(--button-height-desktop) 18px var(--button-height-desktop) auto var(--button-height-desktop);
        transition-property: opacity, filter;
        transition-duration: var(--cell-appear-time), var(--blur-time);
        opacity: 0;
    }

    .pictureSwipe {
        padding-top: 25%;
        width: 0;
        border-radius: var(--standard-border-radius);
        border-color: var(--beige-color);
        border-width: 0;
        border-style: solid;
        margin: 0;
        background-position: center;
        background-size: cover;
        transition-property: opacity, width, margin;
        transition-duration: var(--one-step-of-image-animation-time);
        opacity: 0;
    }

    .buttonBright {
        color: var(--beige-color);
        background-color: black;
    }

    .buttonBright:hover {
        background-color: #00000000;
        border-color: black;
        border-style: solid;
        border-width: 1px;
        color: black;
    }

    .arrows {
        transition-property: opacity, background-color, color, border-color, border-style, border-width;
        transition-duration: var(--one-step-of-image-animation-time), var(--button-animation-time), var(--button-animation-time), var(--button-animation-time), var(--button-animation-time), var(--button-animation-time);
    }

    .arrows:hover {
        background-color: #00000000;
        border-color: black;
        border-style: solid;
        border-width: 1px;
        color: black;
    }

    #arrowUp {
        position: relative;
        grid-row: 3 / 4;
        top: calc(100% - var(--button-height-desktop) - 10px);
    }

    #arrowDown {
        grid-row: 5 / 6;
        margin-top: 10px;
    }

    #arrowRight {
        grid-row: 1 / 2;
    }

    #arrowLeft {
        grid-row: 1 / 2;
    }

    #rowIndicatorContainer {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(245, 245, 245, 0.5);
        border-radius: var(--standard-border-radius);
    }

    .rowIndicator {
        padding: 0;
        transition-property: opacity, margin-top, margin-bottom;
        transition-duration: var(--button-animation-time);
    }

    #rowIndicatorFirstText {
        margin-right: 3%;
    }

    #rowIndicatorSecondText {
        margin-right: 3%;
        margin-left: 3%;
    }

    .buttonRight {
        grid-column: 1 / 2;
        grid-row: 7 / 8;
    }

    .buttonDark {
        color: black;
        background-color: var(--beige-color);
    }

    .buttonDark:hover {
        background-color: #00000000;
        border-color: var(--beige-color);
        border-style: solid;
        border-width: 1px;
        color: var(--beige-color);
    }

}